{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<div class="product-detail-container container">
  {% if product %}
  <h2>{{ product.name }} (by: {{ product.user.username }})</h2>
  <p>{{ product.description }}</p>

  <div class="detail-cover">
    {% if product.cover %}
      {% thumbnail product.cover.image "250x250" crop="center" as im %}
    <img src="{{ im.url }}" alt="product.name">
      {% endthumbnail %}
    {% else %}
    <p>No cover photo</p>
    {% endif %}
  </div>
  <div class="detail-photos">
    {% for photo in photos %}
    <span class="photo-thumb" style="display: inline-block;">
      {% thumbnail photo.image "150x150" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ photo.name }}">
      <p>{{ photo.description }}</p>
      {% endthumbnail %}
      </span>
    {% endfor %}
  </div>

  {% else %}
  <h2>Keyboard Driver Error.</h2>
  {% endif %}
</div>
{% endblock content %}
