{% extends "generic/base.html" %}
{% load thumbnail %}

{% block content %}
<div class="store-container container">
  <h2>Welcome to the store</h2>
  <div class="product-container">
    <h3>Check out some Products</h3>
    {% for product in products %}
    <a href="{% url "product_detail" pk=product.id %}">
      {% if product.cover %}
      {% thumbnail product.cover.image "250x250" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ product.name }}">
      {% endthumbnail %}
      {% else %}
      <img src="{{ cover }}" alt="{{ product.name }}">
      {% endif %}
      <h3>{{ product.name }}</h3>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
